# Database Configuration
DATABASE_URL="postgresql://workspace_user:workspace_pass@localhost:5432/workspace_db?schema=public"

# Redis Configuration
REDIS_URL="redis://default:9PN1tcxsEoNKrCqfSFDMc9Ul3DWRb4km@terracotta-glass-baseball-45107.db.redis.io:10822"

# Server Configuration
PORT=4000
NODE_ENV=development
CLIENT_URL="http://localhost:3000"

# Authentication Secrets
JWT_SECRET="your-256-bit-hex-jwt-access-secret-min-32-chars"
JWT_REFRESH_SECRET="your-256-bit-hex-jwt-refresh-secret-min-32-chars"
